# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Hardhat
node_modules/
artifacts/
cache/
.env
deployments.json

# Other files and folders
.settings/
/.idea
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

/.idea

.DS_Store
.history
